#tweets-content
  .container
    .row
      .col-xs-4.left-content
        = render partial: "panel"
      .col-xs-8.right-content
        - if notice
          .alert.alert-info= notice
        .list-group
          = div_for @tweets, class: "list-group-item" do |t|
            %h4.user
              %span.user-name
                = link_to render_user_screen_name(t.user), user_path(t.user)
              %span.user-id
                @#{t.user.name}
              %span.time.pull-right
                = distance_of_time_in_words_to_now(t.created_at)
              .clear
            .tweet-content
              %p
                = t.content
