= div_for tweet, class: "list-group-item" do |t|
  %h4.user
    %span.user-name
      = link_to t.user.name, user_path(t.user)
    %span.user-id
      @#{t.user.name}
    %span.time.pull-right
      = distance_of_time_in_words_to_now(t.created_at)
    .clear
  .tweet-content
    %p
      = t.content
    .content-footer
      - if t.favorited_by? current_user
        = link_to "お気に入りの解除", tweet_favorites_path(t), method: :delete
      - else
        = link_to "お気に入りに登録", tweet_favorites_path(t), method: :post
      - if t.user.followed_by? current_user
        = link_to "フォロー解除", user_follows_path(t.user), method: :delete
      - else
        = link_to "フォロー", user_follows_path(t.user), method: :post
