.col-xs-8#users-content
  .user-info
    - if notice
      .alert.alert-info= notice
    %span.user-name
      = render_user_screen_name(@user)
    %span.user-id
      @#{@user.name}
    .bio
      = @user.bio

  %ul.nav.nav-tabs.nav-justified
    %li.active
      = link_to user_path(@user) do
        .text
          つぶやき
        .num
          #{@user.tweets.count}
    %li
      = link_to nil do
        .text
          フォロー
        .num
          0
    %li
      = link_to nil do
        .text
          フォロワー
        .num
          0
    %li
      = link_to nil do
        .text
          お気に入り
        .num
          0

  .list-group
    - if @user.tweets.empty?
      .list-group-item
        まだツイートはありません
    = div_for @user.tweets, class: "list-group-item" do |t|
      %h4.user
        %span.user-name
          = link_to t.user.name, user_path(t.user)
        %span.user-id
          @#{t.user.name}
        %span.time.pull-right
          = distance_of_time_in_words_to_now(t.created_at)
        .clear
      .tweet-content
        %p
          = t.content
